<nav class="navbar deafult-header nav-widget navbar-light p-0 header-default-menu" aria-label="Widget menu">
    <div class="menu-all-pages-container widget-menu-container">
        <div class="menu-mega-menu-container">
            <ul id="menu-mega-menu" class="sf-menu sf-js-enabled sf-arrows iq-menu">
                <li id="menu-item-13994"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13994 menu-item-has-children megamenu-layout">
                    <a [routerLink]="['/']"> Home
                    </a>

                </li>
                <li id="menu-item-13995"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-13995">
                    <a [routerLink]="['/movies']">Movies</a>

                </li>
                <li id="menu-item-13995"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-13995">
                    <a [routerLink]="['/movies/fdgfg']">Movies Detail</a>

                </li>

                <li id="menu-item-13995"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-13995">
                    <a [routerLink]="['/movies/fdgfg/player']">Movies player</a>

                </li>


                <li id="menu-item-13996"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-13996">
                    <a [routerLink]="['/series']">Series</a>

                </li>

                <li id="menu-item-13996"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-13996">
                    <a [routerLink]="['/series/dgfdg']">Series Details</a>

                </li>


                <li id="menu-item-13996"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-13996">
                    <a [routerLink]="['/series/dgfdg/player']">Series Player</a>

                </li>
            </ul>
        </div>
    </div>

</nav>