<div class="elementor-section elementor-top-section elementor-element elementor-element-628dd6dc elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
    data-id="628dd6dc" data-element_type="section"
    data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-783113d0 layouts-column-align-inherit layouts-section-position-none"
            data-id="783113d0" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-section elementor-inner-section elementor-element elementor-element-7965b087 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                    data-id="7965b087" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-cd3af0c layouts-column-align-inherit layouts-section-position-none"
                            data-id="cd3af0c" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="hf-elementor-layout elementor-element elementor-element-35a49a1 elementor-widget elementor-widget-iqonic_top_ten"
                                    data-id="35a49a1" data-element_type="widget"
                                    data-widget_type="iqonic_top_ten.default">
                                    <div class="elementor-widget-container">

                                        <div class="iq-card-wrapper iq_movie-contents favorites-contens css_prefix-top_ten clearfix"
                                            data-options="loadmore" data-can-beloaded="true">
                                            <div
                                                class="iq-main-header d-flex align-items-center justify-content-between mx-2">
                                                <h5 class="main-title">
                                                    Top 10 Movies To Watch </h5>
                                            </div>

                                            <ul data-nav="true" data-items="6" data-items-laptop="5" data-items-tab="3"
                                                data-items-mobile="2" data-items-mobile-sm="2" data-autoplay="false"
                                                data-autoplay-speed="5000" data-loop="false" data-speed="300"
                                                class="favorites-slider movie-list-slider list-inline top-ten row p-0 mb-0 iq-rtl-direction iq-arrow-2">

                                                <li class="slide-item">
                                                    <div class="block-image position-relative">
                                                        <div class="img-box">
                                                            <a class="overly-images"
                                                                href="https://wordpress.iqonic.design/product/wp/streamit/movie/sea/">
                                                                <img decoding="async"
                                                                    src="https://wordpress.iqonic.design/product/wp/streamit/wp-content/uploads/2020/11/Untitled-4.jpg"
                                                                    class="img-fluid" alt="image">
                                                            </a>
                                                            <span class="top_ten_numbers"> 1 </span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="slide-item">
                                                    <div class="block-image position-relative">
                                                        <div class="img-box">
                                                            <a class="overly-images"
                                                                href="https://wordpress.iqonic.design/product/wp/streamit/movie/shadow/">
                                                                <img decoding="async"
                                                                    src="https://wordpress.iqonic.design/product/wp/streamit/wp-content/uploads/2020/11/Untitled-2.jpg"
                                                                    class="img-fluid" alt="image">
                                                            </a>
                                                            <span class="top_ten_numbers"> 2 </span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="slide-item">
                                                    <div class="block-image position-relative">
                                                        <div class="img-box">
                                                            <a class="overly-images"
                                                                href="https://wordpress.iqonic.design/product/wp/streamit/movie/football-2/">
                                                                <img decoding="async"
                                                                    src="https://wordpress.iqonic.design/product/wp/streamit/wp-content/uploads/2020/11/Untitled-3.jpg"
                                                                    class="img-fluid" alt="image">
                                                            </a>
                                                            <span class="top_ten_numbers"> 3 </span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="slide-item">
                                                    <div class="block-image position-relative">
                                                        <div class="img-box">
                                                            <a class="overly-images"
                                                                href="https://wordpress.iqonic.design/product/wp/streamit/movie/the-army-2/">
                                                                <img decoding="async"
                                                                    src="https://wordpress.iqonic.design/product/wp/streamit/wp-content/uploads/2020/11/18.jpg"
                                                                    class="img-fluid" alt="image">
                                                            </a>
                                                            <span class="top_ten_numbers"> 4 </span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="slide-item">
                                                    <div class="block-image position-relative">
                                                        <div class="img-box">
                                                            <a class="overly-images"
                                                                href="https://wordpress.iqonic.design/product/wp/streamit/movie/another-danger/">
                                                                <img decoding="async"
                                                                    src="https://wordpress.iqonic.design/product/wp/streamit/wp-content/uploads/2020/11/Untitled-7.jpg"
                                                                    class="img-fluid" alt="image">
                                                            </a>
                                                            <span class="top_ten_numbers"> 5 </span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="slide-item">
                                                    <div class="block-image position-relative">
                                                        <div class="img-box">
                                                            <a class="overly-images"
                                                                href="https://wordpress.iqonic.design/product/wp/streamit/movie/oh-lucy/">
                                                                <img decoding="async"
                                                                    src="https://wordpress.iqonic.design/product/wp/streamit/wp-content/uploads/2019/02/asset-14.jpg"
                                                                    class="img-fluid" alt="image">
                                                            </a>
                                                            <span class="top_ten_numbers"> 6 </span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="slide-item">
                                                    <div class="block-image position-relative">
                                                        <div class="img-box">
                                                            <a class="overly-images"
                                                                href="https://wordpress.iqonic.design/product/wp/streamit/movie/the-great-emperor/">
                                                                <img decoding="async"
                                                                    src="https://wordpress.iqonic.design/product/wp/streamit/wp-content/uploads/2020/11/19.jpg"
                                                                    class="img-fluid" alt="image">
                                                            </a>
                                                            <span class="top_ten_numbers"> 7 </span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="slide-item">
                                                    <div class="block-image position-relative">
                                                        <div class="img-box">
                                                            <a class="overly-images"
                                                                href="https://wordpress.iqonic.design/product/wp/streamit/movie/black-mirror/">
                                                                <img decoding="async"
                                                                    src="https://wordpress.iqonic.design/product/wp/streamit/wp-content/uploads/2019/02/asset-15.jpg"
                                                                    class="img-fluid" alt="image">
                                                            </a>
                                                            <span class="top_ten_numbers"> 8 </span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="slide-item">
                                                    <div class="block-image position-relative">
                                                        <div class="img-box">
                                                            <a class="overly-images"
                                                                href="https://wordpress.iqonic.design/product/wp/streamit/movie/the-convenient-groom/">
                                                                <img decoding="async"
                                                                    src="https://wordpress.iqonic.design/product/wp/streamit/wp-content/uploads/2019/02/14.jpg"
                                                                    class="img-fluid" alt="image">
                                                            </a>
                                                            <span class="top_ten_numbers"> 9 </span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="slide-item">
                                                    <div class="block-image position-relative">
                                                        <div class="img-box">
                                                            <a class="overly-images"
                                                                href="https://wordpress.iqonic.design/product/wp/streamit/movie/delta-bravo-2/">
                                                                <img decoding="async"
                                                                    src="https://wordpress.iqonic.design/product/wp/streamit/wp-content/uploads/2019/03/Untitled-1.jpg"
                                                                    class="img-fluid" alt="image">
                                                            </a>
                                                            <span class="top_ten_numbers"> 10
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>