<app-navbar></app-navbar>
<div class="site-content-contain">
    <div id="content" class="site-content">
        <div data-elementor-type="wp-page" data-elementor-id="17930" class="elementor elementor-17930">
            <!--homepage banner -->
            <app-homepagebanner></app-homepagebanner>
            <div class="elementor-section elementor-top-section elementor-element elementor-element-71806b00 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
                data-id="71806b00" data-element_type="section"
                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5a54d9ee layouts-column-align-inherit layouts-section-position-none"
                        data-id="5a54d9ee" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-section elementor-inner-section elementor-element elementor-element-365d1123 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="365d1123" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-2010b010 layouts-column-align-inherit layouts-section-position-none"
                                        data-id="2010b010" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- top10  -->
            <app-top10></app-top10>
            <!-- only on -->
            <app-only-on></app-only-on>
            <!-- features -->
            <app-features></app-features>
            <!-- favroite person -->
            <app-favroite-person></app-favroite-person>
            <!-- series features -->
            <app-series-features></app-series-features>
            <app-genres></app-genres>
            <!-- recomended for you -->
            <app-recomends></app-recomends>
            <!-- top picks -->
            <app-toppicks></app-toppicks>
        </div>
        <!-- footer here -->
        <app-footer> </app-footer>
    </div>
</div>